@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-primary: #106feb;
  --color-secondary: #161618;
  --color-white: #ffffff;
  --color-black: #000;
  --color-light-black: #242424;
  --color-grey-1: #636363;
  --border-xlt: #e4e4e4;
  --border-lt: #d3d3d3;
  --border-md: #b8b8b8;
  --color-primary-bg: #eff2f5;
  --color-secondary-bg: #e7e7e7;
  --padding-section-1: 2rem 8rem;
  --padding-section-2: 2rem 6rem;
  --padding-section-3: 2rem 4rem;
  --padding-section-4: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Toastify__toast-body > div:last-child {
  font-size: 16px !important;
}
th,
td {
  font-size: 1.4rem !important;
}
.css-1mxz8qt-MuiPaper-root {
  box-shadow: none !important;
}
